#projetosfield {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.projetosx {
    width: 32%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(223, 231, 238);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.projetosx:hover{
    border: 3px solid rgb(32, 179, 69);
}

body.dark .projetosx{
    background-color: rgb(66, 69, 71);
}

.projetosx img{
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}

.tituloProjeto{
    text-align: center;
    color: rgb(158, 9, 9);
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

body.dark .tituloProjeto{
    color: white;
}

.descricaoProjeto, .paragrafoLinguagens{
    padding: 5px 10px;
    font-size: 1.1em;
}

.paragrafoLinguagens{
    display: inline-block;
}

.spanLinguagens{
    background-color: brown;
    display: inline-block;
    border-radius: 10%;
    color: white;
    padding: 2px; margin: 0px 2px;
    margin-bottom: 10px;
}

@media screen and (max-width:800px){
    .projetosx{
        width: 100%;
    }

}