#wall {
    height: 50vh;
    width: 75%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#wall p{
    font-size: 3em;
    padding: 20px;
}

#wall #btn{
    height: 50px;
    width: 120px;
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#wall #btn:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: transform .3s, box-shadow .3s;
}

@media screen and (max-width:800px){
    main{
        width: 99%;
    }

    #wall p{
        font-size: 1.5em;
    }

    #wall #btn{
        height: 30px;
        width: 72px;
        font-size: 0.8em;
    }
}